@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic);

body{
  background-color:#5ead5a;
}
form {
  margin:70px 0 20px;
  height: 300px;
  padding: 35px;
  background-color: #f2f0ed;
}
input password {
	font-size: 2em;
  font-family: 'Lato', sans-serif;
}
.btn-success {
  padding: 10px 0;
  margin:25px 0 18px;
  font-weight:500;
  font-size:18px;
  background-color: #5ead5a;
}
.form-control {
  padding: 25px 10px;
}
.btn-link {
  margin:0;
  padding-top:0;
  font-size:16px;
}
#status {
  font-family:sans-serif;
  font-size:16px;
  word-wrap: break-word;
}
input[type="password"], input[type="name"]{
  font-size:16px;
}
